<h1>Welcome to booking</h1>
<ul>
  <li><%= link_to "Find accommodation", accommodations_path %></li>
  <li><%= link_to "Your accommodations", my_accommodations_path %></li>
  <br>
  <li><%= link_to "Users", "" %></li>
  <li><%= link_to "Places", places_path %></li>
  <li><%= link_to "Countries", countries_path %></li>
  <li><%= link_to "Regions", regions_path %></li>
  <li><%= link_to "Rooms", rooms_path %></li>
  <li><%= link_to "Room reservations", room_reservations_path %></li>
  <li><%= link_to "Accommodation types", accommodation_types_path %></li>
</ul>
