<h1>Welcome to booking</h1>
<ul>
  <% if current_user.type == "admin" %>
    <li><%= link_to "Places", places_path %></li>
    <li><%= link_to "Countries", countries_path %></li>
    <li><%= link_to "Regions", regions_path %></li>
    <li><%= link_to "Managers", managers_path %></li>
    <li><%= link_to "Accommodation types", accommodation_types_path %></li>
    <li><%= link_to "Accommodations", accommodations_path %></li>
    <li><%= link_to "Reservations", room_reservations_path %></li>
    <li><%= link_to "Comments", comments_path %></li>
  <% elsif current_user.type == "manager" %>
    <li><%= link_to "Your accommodations", my_accommodations_path %></li>
    <li><%= link_to "Customer reservations", room_reservations_path %></li>
    <li><%= link_to "Comments for your accommodations", comments_path %></li>
  <% elsif current_user.type == "user" %>
    <li><%= link_to "Accommodations", accommodations_path %></li>
    <li><%= link_to "Your reservations", room_reservations_path %></li>
    <li><%= link_to "Your comments", comments_path %></li>
  <% end %>
</ul>
