<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Bed count:</strong>
  <%= @room.bed_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price per night:</strong>
  <%= @room.price_per_night %>
</p>

<p>
  <strong>Accommodation:</strong>
  <%= link_to @room.accommodation.name, accommodation_path(@room.accommodation) %>
</p>

<%= link_to 'Edit', edit_accommodation_room_path(@accommodation, @room) if @accommodation.owned_by?(current_user) %> |
<%= link_to 'Back', accommodation_rooms_path(@accommodation) %>
