<%= form_for(room_reservation, url: accommodation_room_room_reservations_path(@accommodation, @room)) do |f| %>
  <% if room_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_reservation.errors.count, "error") %> prohibited this room_reservation from being saved:</h2>

      <ul>
      <% room_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
