<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @room_reservation.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @room_reservation.end_date %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to @room_reservation.room.room_number, accommodation_room_path(@room_reservation.room.accommodation, @room_reservation.room) %>
</p>

<%= link_to 'Back', room_reservations_path %>
